In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import plotly.express as px
import matplotlib.pyplot as plt
# Importing Data Analysis Libraries

In [3]:
data = pd.read_csv("../conjunto_de_datos/denue_inegi_02_.csv", encoding='ISO-8859-1')

/var/folders/46/k_2860j515n5r7yzk58hw6mm0000gn/T/ipykernel_26093/986942416.py:1: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("../conjunto_de_datos/denue_inegi_02_.csv", encoding='ISO-8859-1')

In [4]:
data.head()

,id,clee,nom_estab,raz_social,codigo_act,nombre_act,per_ocu,tipo_vial,nom_vial,tipo_v_e_1,...,localidad,ageb,manzana,telefono,correoelec,www,tipoUniEco,latitud,longitud,fecha_alta
0,6940824,02002326199000141000000000S3,ALMACEN DE SOMBRAS NADA MAS TALLER,NaN,326199,Fabricación de otros productos de plástico sin...,0 a 5 personas,AVENIDA,GALICIA,CALLE,...,Mexicali,0659,7,NaN,NaN,NaN,Fijo,32.611227,-115.462446,2019-11
1,6166312,02001114119002145000000000U9,PESCADORES DEL CHUTE,PESCADORES DEL CHUTE SPR DE RL,114119,"Pesca y captura de peces, crustáceos, moluscos...",11 a 30 personas,CALLE,Segunda,CARRETERA,...,San Quintín,0022,8,NaN,NaN,NaN,Fijo,30.563959,-115.941603,2014-12
2,6959747,02004327111000551000000000U3,ALFERERIA SIN NOMBRE,NaN,327111,"Fabricación de artículos de alfarería, porcela...",0 a 5 personas,CALLE,ANTARES,CALLE,...,Tijuana,2838,85,NaN,NaN,NaN,Fijo,32.483305,-117.054791,2019-11
3,87102,02002323119002233011000000U7,ALMACEN DE MATERI PRIMA,NaN,325610,"Fabricación de jabones, limpiadores y dentífricos",0 a 5 personas,CALLE,FUNDIDORES,CALLEJON,...,Mexicali,0324,5,6865561106.0,NaN,NaN,Fijo,32.646107,-115.467229,2014-12
4,6711157,02002326199000101000000377S7,ALMACÉN IIMBACSA,PLASTICUS SA DE CV,326193,Fabricación de envases y contenedores de plást...,0 a 5 personas,CARRETERA,CARRETERA AL AEROPUERTO,CALZADA,...,Mexicali,387A,3,NaN,VIANEY.VEGA@TECHIMARK.COM,NaN,Fijo,32.653152,-115.369269,2016-01

In [7]:
tijuana_df = data[data.municipio == "Tijuana"]

In [9]:
tijuana_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60145 entries, 2 to 126085
Data columns (total 42 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          60145 non-null  int64
 1   clee        60145 non-null  object
 2   nom_estab   60145 non-null  object
 3   raz_social  18188 non-null  object
 4   codigo_act  60145 non-null  int64
 5   nombre_act  60145 non-null  object
 6   per_ocu     60145 non-null  object
 7   tipo_vial   59743 non-null  object
 8   nom_vial    60145 non-null  object
 9   tipo_v_e_1  58277 non-null  object
 10  nom_v_e_1   58546 non-null  object
 11  tipo_v_e_2  58275 non-null  object
 12  nom_v_e_2   58540 non-null  object
 13  tipo_v_e_3  58306 non-null  object
 14  nom_v_e_3   58529 non-null  object
 15  numero_ext  49148 non-null  float64
 16  letra_ext   18664 non-null  object
 17  edificio    9467 non-null   object
 18  edificio_e  9679 non-null   object
 19  numero_int  23765 non-null  float64
 20  letra_int   5065 non-null   object
 21  tipo_asent  59838 non-null  object
 22  nomb_asent  60079 non-null  object
 23  tipoCenCom  9656 non-null   object
 24  nom_CenCom  9733 non-null   object
 25  num_local   9463 non-null   object
 26  cod_postal  59291 non-null  float64
 27  cve_ent     60145 non-null  int64
 28  entidad     60145 non-null  object
 29  cve_mun     60145 non-null  int64
 30  municipio   60145 non-null  object
 31  cve_loc     60145 non-null  int64
 32  localidad   60145 non-null  object
 33  ageb        60145 non-null  object
 34  manzana     60145 non-null  int64
 35  telefono    21189 non-null  object
 36  correoelec  14305 non-null  object
 37  www         5407 non-null   object
 38  tipoUniEco  60145 non-null  object
 39  latitud     60145 non-null  float64
 40  longitud    60145 non-null  float64
 41  fecha_alta  60145 non-null  object
dtypes: float64(5), int64(6), object(31)
memory usage: 19.7+ MB